h1 {
  font-family:arial;
  color: white;
}

a{
  color:black;
  text-decoration: none;
}
#jiwoolee{
margin-left:500px;
margin-top:95px;
font-size: 80px;
position:fixed;
}

#message{
  margin-top: 20%;
  position: fixed;
  font-family: monospace;}

#usrform{
margin-left: 150px;
  margin-top:340px;
  position: fixed;
  font-family: monospace;
}
#thank{
  font-family: monospace;
}
#back{
  position: fixed;
  margin-top: 350px;
  margin-left: 300px;
}
#profile{
  position: fixed;
  margin-top: 10%;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
  font-size: 20px;
}

/* logo */
body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
  font-size: 80px;}

.sup {
  color:white;
  background:red;
  padding: 7px 30px;
  text-decoration: none;
  width : 80px;
  margin : auto;}
